.column img {
    width: 200px;
    height: auto;
}

.column img:hover {
    box-shadow: 10px 5px 5px gray;
}

.column {
    float: left;
    width: 25%;
}

#enlarged-box {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#container {
    width: 500px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: initial;
}

#previous {
    position: absolute;
    font-size: xx-large;
    top: 400px;
    left: 300px;
    color: white;
}

#next {
    position: absolute;
    font-size: xx-large;
    top: 400px;
    right: 300px;
    color: white;
}